@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@media screen and (min-width: 771px) {
    *{
        margin: 0;
        font-family: "Quantico", sans-serif;
        list-style: none;
        text-decoration: none;
        position: relative;
    }
    
    html {
        height: 100%;
        position: relative;
    }
    
    body {
        background-color: #0D1116;
        position: relative;
        min-height: 100%;
    }
    
    .nav {
        font-weight: 700;
        font-style: italic;    
        width: 100%;
        height: 80px;
        position: relative;
        font-size: calc(1vw + 20px);
        line-height: 70px;

        display: flex;
        align-items: center;
    }
    
    .colour {
        position: absolute;
        background-color: #141723;
        width: 92%;
        height: 64px;
        right: 2%;
        border-radius: 20px;
        margin-top: .2%;
    }
    
    .nav.left
    {
        position: absolute;
        text-align: center;
        width: 25%;
        left: 10%;
    }
    
    
    .nav.right
    {
        position: absolute;

        width: 60%;
        right: 1%;
        display: flex;
        justify-content: space-evenly;
    }

    #Logo {
        z-index: 9999999;
    }
    
    a, a:visited, a:active, a:hover, a:link {
        color: white;
        text-decoration-line: none;
    }
    
    .Title {
        position: absolute;
        left: 8%;
        top: 250px;
        font-size: 3vw;
        color: white;
    }
    .duckGifDiv1 {
        position: absolute;
        width: 10%;
        height: 30%;
        bottom: 20%;
        left: 10%;
    }

    .duckGifDiv2 {
        position: absolute;
        width: 10%;
        height: 30%;
        bottom: 20%;
        left: 30%;
    }

    #duckGif {
        width: 100%;
    }

    .closeIcon,
    .menuIcon,
    .hamburger {
        display: none;
    } 
}

@media screen and (max-width: 770px) {
    
     *{
        margin: 0;
        font-family: "Quantico", sans-serif;
        list-style: none;
        text-decoration: none;
    
    }
   
    
    html {
        height: 100%;
        position: relative;
    }
    
    body {
        background: #0D1116;
        position: relative;
        min-height: 100%;
    }
    
    .nav {
        font-weight: 700;
        font-style: italic;    
        width: 100%;
        height: 80px;
        position: relative;

        display: flex;
        align-items: center;
    }
    
    .colour {
        position: absolute;
        background-color: #141723;
        width: 92%;
        height: 64px;
        right: 2%;
        border-radius: 20px;
        margin-top: .2%;
    }
    
    .nav.left
    {
        position: absolute;
        text-align: center;
        font-size: calc(1vw + 20px);
   
        width: 25%;
        left: 10%;
    }

    #Logo {
        z-index: 9999999;
    }

    .nav.right a#SpaceNews,
    .nav.right a#About,
    .nav.right a#Stream {
        display: none;
    }
    
    a, a:visited, a:active, a:hover, a:link {
        color: white;
        text-decoration-line: none;
    }
    
    .Title {
        position: absolute;
        left: 8%;
        top: 150px;
        font-size: 5vw;
        color: white;
    }
    
    .duckGifDiv {
        position: absolute;
        width: 10%;
        height: 30%;
        bottom: 20%;
        left: 10%;
    }

    #duckGif {
        width: 100%;
    }
    
    #closeIcon {
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 12%;
    
        background-color: #141723;
        color: white;
        border: none;
        
        cursor: pointer;
    }

   
}
