@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    font-family: "Quantico", sans-serif;
    list-style: none;
    text-decoration: none;

}

html {
    height: 100%;
}

body {
    background: #0D1116;
    position: relative;
    min-height: 100%;
}

.nav {
    font-weight: 700;
    font-style: italic;    
    width: 100%;
    position: relative;
    font-size: calc(1vw + 20px);
    line-height: 70px;
}

.colour {
    position: absolute;
    background-color: #141723;
    width: 92%;
    height: 64px;
    right: 2%;
    border-radius: 20px;
    margin-top: .2%;
}

.nav.left
{
    position: absolute;
    text-align: center;
    width: 25%;
    left: 0%;
}

.nav.right
{
    position: absolute;
    width: 60%;
    right: 1%;
    display: flex;
    justify-content: space-evenly;
}

a:visited, a:active, a:hover, a:link {
    color: white;
    text-decoration-line: none;
}

.horizontalBar
{
    position: absolute;
    width: 50%;
    height: 100px;

    right: 25%;
    bottom: calc(.7vw + 50px);

    font-size: calc(.7vw + 5px);
    z-index: 99999;

    display: flex;
    justify-content: space-around; /* Spread the elements evenly around the center */
    align-items: center;
}

.controlLeft,
.controlMiddle,
.controlRight {
    height: 100%;
    width: 33.3%;
    color: white;
}
.contentArea
{
    position: absolute;
    background: #141723;
    height: calc(95%, 50px);
    width: 98%;
    top: max(80px, 3%);
    bottom: max(30px, 2%);
    left: 1%;
}

.icon {
    font-size: calc(3vw + 25px) !important;
    position: absolute;
    right: 5px;
    cursor: pointer;
    user-select: none;
}

.refreshIcon {
    font-size: calc(3vw + 25px) !important;
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    user-select: none;
}