@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    font-family: "Quantico", sans-serif;
    list-style: none;
    text-decoration: none;

}

html {
    height: 100%;
}

body {
    background: #0D1116;
    position: relative;
    min-height: 100%;
}

.nav {
    font-weight: 700;
    font-style: italic;    
    width: 100%;
    position: relative;
    font-size: calc(1vw + 20px);
    line-height: 70px;
}

.colour {
    position: absolute;
    background-color: #141723;
    width: 92%;
    height: 64px;
    right: 2%;
    border-radius: 20px;
    margin-top: .2%;
}

.nav.left
{
    position: absolute;
    text-align: center;
    width: 25%;
    left: 0%;
}

.nav.right
{
    position: absolute;
    width: 60%;
    right: 1%;
    display: flex;
    justify-content: space-evenly;
}

a:visited, a:active, a:hover, a:link {
    color: white;
    text-decoration-line: none;
}

.horizontalBar
{
    position: absolute;
    width: 30%;
    height: 90px;
    right: 37.5%;
    bottom: 80px;
    font-size: 25px;
    z-index: 99999;
}

.controlLeft {
    position: absolute;
    top: 7%;
    width: 25%;
    left: 5%;
    color: white;
}

.controlMiddle {
    position: absolute;
    left: 37.5%;
    top: 7%;
    width: 25%;
    color: white;
}

.controlRight {
    position: absolute;
    left: 70%;
    top: 7%;
    width: 55%;
    color: white;
}

.contentArea
{
    position: absolute;
    background: #141723;
    height: calc(95%, 50px);
    width: 98%;
    top: max(80px, 3%);
    bottom: max(30px, 2%);
    left: 1%;
}
