@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@media screen and (min-width: 771px) {
    *{
        margin: 0;
        font-family: "Quantico", sans-serif;
        list-style: none;
        text-decoration: none;
        
    }
    
    html {
        height: 100%;
        position: relative;
    }
    
    body {
        background: #0D1116;
        position: relative;
        min-height: 100%;
    }
    
    .nav {
        font-weight: 700;
        font-style: italic;    
        width: 100%;
        height: 80px;
        position: relative;
        font-size: calc(1vw + 20px);
        line-height: 70px;

        display: flex;
        align-items: center;
    }
    
    .colour {
        position: absolute;
        background-color: #141723;
        width: 92%;
        height: 64px;
        right: 2%;
        border-radius: 20px;
        margin-top: .2%;
    }
    
    .nav.left
    {
        position: absolute;
        text-align: center;
        width: 25%;
        left: 10%;
    }
    
    #Logo {
        z-index: 9999999;
    }

    .nav.right
    {
        position: absolute;
        width: 60%;
        right: 1%;
        display: flex;
        justify-content: space-evenly;
    }
    
    a, a:visited, a:active, a:hover, a:link {
        color: white;
        text-decoration-line: none;
    }
    
    .horizontalBar
    {
        position: absolute;
        width: 50%;
        height: 100px;
    
        right: 25%;
        bottom: calc(.7vw + 50px);
    
        font-size: calc(.7vw + 5px);
        z-index: 99999;
    
        display: flex;
        justify-content: space-around; /* Spread the elements evenly around the center */
        align-items: center;
    }
    
    .controlLeft,
    .controlMiddle,
    .controlRight {
        height: 100%;
        width: 33.3%;
        color: white;
    }
    .contentArea
    {
        position: absolute;
        background: #141723;
        height: calc(95%, 50px);
        width: 98%;
        top: max(80px, 3%);
        bottom: max(30px, 2%);
        left: 1%;
    }
    
    .volumeIcon {
        font-size: calc(2vw + 25px) !important;
        position: absolute;
        bottom: 1%;
        left: calc(4vw + 80px);
        cursor: pointer;
        user-select: none;
        display: none;
        z-index: 9999999;
        color: #bb4430;
    }
    
    .refreshIcon {
        font-size: calc(2vw + 25px) !important;
        position: absolute;
        bottom: 1%;
        left: calc(.7vw + 50px);
        cursor: pointer;
        user-select: none;
        z-index: 9999999;
        color: #bb4430;
    }
    
    /* Hide the number input arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }
    
    
    
    #streamWidth {
        position: absolute;
        left: calc(1vw + 60px);
        bottom: calc(2.5vw + 50px);;
        
        height: 30px;
        width: 60px;
    
        background-color: #1f2436;
        color: white;
        outline: none;
        border: none;
    
        z-index: 99999;
    }

    .closeIcon,
    .menuIcon,
    .hamburger {
        display: none;
    } 
}

@media screen and (max-width: 770px) {
    *{
        margin: 0;
        font-family: "Quantico", sans-serif;
        list-style: none;
        text-decoration: none;
    
    }
    
    html {
        height: 100%;
        position: relative;
    }
    
    body {
        background: #0D1116;
        position: relative;
        min-height: 100%;
    }
    
    .nav {
        font-weight: 700;
        font-style: italic;    
        width: 100%;
        height: 80px;
        position: relative;

        display: flex;
        align-items: center;
    }
    
    .colour {
        position: absolute;
        background-color: #141723;
        width: 92%;
        height: 64px;
        right: 2%;
        border-radius: 20px;
        margin-top: .2%;
    }
    
    .nav.left
    {
        position: absolute;
        text-align: center;
        font-size: calc(1vw + 20px);
   
        width: 25%;
        left: 10%;
    }

    #Logo {
        z-index: 9999999;
    }

    #SpaceNews,
    #Blog,
    #Stream {
        display: none;
    }
    
    a, a:visited, a:active, a:hover, a:link {
        color: white;
        text-decoration-line: none;
    }
    
    .horizontalBar
    {
        position: absolute;
        width: 50%;
        height: 100px;
    
        right: 25%;
        bottom: calc(.7vw + 50px);
    
        font-size: calc(.7vw + 5px);
        z-index: 99999;
    
        display: flex;
        justify-content: space-around; /* Spread the elements evenly around the center */
        align-items: center;
    }
    
    .controlLeft,
    .controlMiddle,
    .controlRight {
        height: 100%;
        width: 33.3%;
        color: white;
    }
    .contentArea
    {
        position: absolute;
        background: #141723;
        height: calc(95%, 50px);
        width: 98%;
        top: max(80px, 3%);
        bottom: max(30px, 2%);
        left: 1%;
    }
    
    .volumeIcon {
        font-size: calc(2vw + 25px) !important;
        position: absolute;
        bottom: 1%;
        left: calc(4vw + 80px);
        cursor: pointer;
        user-select: none;
        display: none;
        z-index: 9999999;
        color: #bb4430;
    }
    
    .refreshIcon {
        font-size: calc(2vw + 25px) !important;
        position: absolute;
        bottom: 1%;
        left: calc(.7vw + 50px);
        cursor: pointer;
        user-select: none;
        z-index: 9999999;
        color: #bb4430;
    }
    
    /* Hide the number input arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }
    
    
    
    #streamWidth {
        position: absolute;
        left: calc(1vw + 60px);
        bottom: calc(2.5vw + 50px);;
        
        height: 30px;
        width: 60px;
    
        background-color: #1f2436;
        color: white;
        outline: none;
        border: none;
    
        z-index: 99999;
    }

    .hamburger {
        position: absolute;
        right: 12%;
    
        background-color: #141723;
        color: white;
        border: none;
        
        cursor: pointer;
    }
}

